{{ partial "header.html" . }}

<header class="header header--about">
    <div class="header__content">
        <h1 class="heading-1">{{ .Title }}</h1>
    </div>
</header>

<section class="section section--4">
    <div class="section__content u-margin-top-huge u-margin-bottom-huge">
        <div class="section__content--about">
            {{ .Content }}
        </div>
    </div>
</section>

<section class="section section--5">
    <div class="section__content u-margin-top-huge u-margin-bottom-huge">
        <div class="section__content">
            <h2 class="heading-2 u-center-text u-margin-bottom-medium">You Can Reach Me Through</h2>
            <div class="social__list">
                <div class="social__item">
                    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#111;&#114;&#105;&#115;&#101;&#101;&#107;&#104;&#111;&#117;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="social__link color--email">
                        <i class="fas fa-envelope"></i>
                        Email
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/JorisEekhout/" class="social__link color--github">
                        <i class="fab fa-github"></i>
                        GitHub
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/JorisEekhout/" class="social__link color--twitter">
                        <i class="fab fa-twitter"></i>
                        Twitter
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.researchgate.net/profile/Joris_Eekhout/" class="social__link color--researchgate">
                        <i class="ai ai-researchgate"></i>
                        ResearchGate
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="http://scholar.google.es/citations?user=Y3ZprKUAAAAJ&hl=en/" class="social__link color--google-scholar">
                        <i class="ai ai-google-scholar"></i>
                        Google Scholar
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="https://figshare.com/authors/Joris_Eekhout/534439" class="social__link color--figshare">
                        <i class="ai ai-figshare"></i>
                        Figshare
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="http://orcid.org/0000-0003-2097-696X/" class="social__link color--orcid">
                        <i class="ai ai-orcid"></i>
                        ORCiD
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="https://publons.com/author/1263380/joris-eekhout/" class="social__link color--publons">
                        <i class="ai ai-publons"></i>
                        Publons
                    </a>
                </div>
                <div class="social__item">
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/joris-eekhout-bb84277" class="social__link color--linkedin">
                        <i class="fab fa-linkedin"></i>
                        LinkedIn
                    </a>
                </div>    
            </div>
        </div>
    </div>
</section>

<section class="section section--6">
    <div class="section__content section__content--timeline u-margin-top-huge u-margin-bottom-huge">
        <h2 class="heading-2 u-center-text u-margin-bottom-medium">Timeline</h2>
        {{ partial "timeline" . }}
    </div>
</section>

<section class="section section--7">
    <div class="section__content--wide u-margin-top-huge u-margin-bottom-huge">
        <h2 class="heading-2 u-center-text u-margin-bottom-medium">Websites</h2>
        <div class="website__list">
            {{ range (where .Data.Pages.ByDate.Reverse "Section" "about-me") }}
                {{ partial "website_card" . }}
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}