<div class="publication__icons-list">
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fas fa-info-circle"></i>
        </div>
        <p>(graphical) abstract</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="ai ai-doi"></i>
        </div>
        <p>link to publisher</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fa fa-book-open"></i>
        </div>
        <p>link to article</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fa fa-file-pdf"></i>
        </div>
        <p>download article</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="far fa-file-pdf"></i>
        </div>
        <p>supporting information</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fab fa-slideshare"></i>
        </div>
        <p>presentation</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fa fa-video"></i>
        </div>
        <p>video abstract</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fa fa-code"></i>
        </div>
        <p>code</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fa fa-database"></i>
        </div>
        <p>dataset</p>
    </div>
    <div class="publication__icon-item">
        <div class="icon icon--publication">
            <i class="fas fa-project-diagram"></i>
        </div>
        <p>project</p>
    </div>
</div>