<div class="website__item" id="website__item--{{ $.File.TranslationBaseName }}">
    <div class="website__img" style="background-image: url({{ (print "../about-me/" $.File.TranslationBaseName ".jpg") }})">
    </div>
    <div class="website__title">
        <h4 class="heading-4">{{ .Title }}</h4>
    </div>
    <div class="website__info">
        <div class="website__date">
            <i class="fas fa-calendar-alt"></i>
            <p>{{ if .Params.dates }}
                {{ .Params.dates | markdownify }},
            {{ end }}
            {{ .Date.Format "Jan 2, 2006" }}</p>
        </div>
        <div class="website__tools">
            <i class="fas fa-users"></i>
            <p>{{ with .Params.tools }}
                {{ delimit . ", " | markdownify }}
            {{ end }}</p>
        </div>
        <div class="website__link">
            <i class="fas fa-external-link-alt"></i>
            <p>{{ if .Params.link }}
                <a target="_blank" rel="noopener noreferrer" href="{{ .Params.link }}">Visit Website</a>
            {{ end }}</p>
        </div>
    </div>
    <div class="website__content">
        {{ .Content }}
    </div>
</div>
