{{ partial "header.html" . }}

<header class="header header--single header--video-single">
    <div class="header__bg-img header--videos">
        <div class="header__content header__content--single">
            <h1 class="heading-1 heading-1--single heading-1--center">{{.Title}}</h1>
        </div>
    </div>
</header>

<section class="section section--gradient">
    <div class="section__content section__404 u-margin-top-huge u-margin-bottom-huge">
        <p>Oops... something went wrong. Please let me know what happened and I will try to fix this as soon as possible.</p>
    </div>
</section>

{{ partial "footer.html" . }}