{{ partial "header.html" . }}

<header class="header header--single header--publication-single">
    <div class="header__bg-img header--publications">
        <div class="header__content header__content--single">
            <h1 class="heading-1 heading-1--single heading-1--center">{{.Title}}</h1>
        </div>
    </div>
</header>

<section class="section section--gradient">
    <div class="section__content section__content--publications u-margin-top-small u-margin-bottom-big">
        <div class="publication__info--single u-margin-top-small u-margin-bottom-small">
                {{ partial "publication_item" . }}
        </div>
        {{ if (fileExists (print "publications/" $.File.TranslationBaseName ".jpg") ) }}
            <div class="publication__image">
                <img src="{{ (print "../../publications/" $.File.TranslationBaseName ".jpg") }}" alt="Graphical abstract for {{ .Params.title }}">
            </div>
        {{ end }}
        <p class="publication__abstract">
            {{- if .Params.abstract -}}
                {{- .Params.abstract | markdownify -}}
            {{ end }}
        </p>
        <div class="share share--single share--other">
            <h3 class="heading-4 share__heading u-margin-top-medium">Share this publication</h3>
            {{ partial "share_buttons.html" . }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}